*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/app/release

# IntelliJ IDEA project files
.idea/
*.ipr
*.iml

# key
*.jks

# other
work/

